h1 {
    color: blue;
}

main {
    display: flex;
}
section {
    width: 60px;
    height: 320px;
    border: 1pt black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    
}

article {
    border: 1pt blue solid;
    background-color: darkblue;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 1px;
    font-size: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

article:hover{
background-color: green;
}
#displayPicture {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: 100%
}